<!-- <%- include('partials/header'); -%> -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <nav>
    <h1><a href="/">Ninja Smoothies</a></h1>
  </nav>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Smoothie Recipes</h2>
    <h3>By Ninjas For Ninjas</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
  </div>
</header>


<!-- <%- include('partials/footer'); -%> -->

<footer>Copyright 2020 Ninja Smoothies</footer>

</body>
</html>