<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <nav>
    <h1><a href="/">Ninja Smoothies</a></h1>
  </nav>

  <form action="/signup">
    <h2>Login</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required />
    <div class="email error">some error</div>
    <label for="password">Password</label>
    <input type="password" name="password" required />
    <div class="password error"></div>
    <button>login</button>
  </form>
  
  <!-- <%- include('partials/footer'); -%> -->
  <footer>Copyright 2020 Ninja Smoothies</footer>
  
  <script>
    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      // get values
      const email = form.email.value;
      const password = form.password.value;
      console.log(email, password);
    });
  </script>



</body>
</html>